$oscuro: black;

.transp {
  position: relative;
  top: 0;
  float: center;
  z-index: -1;
  height: auto;
  width: 86%;
  background-color: rgba(252, 252, 252, 0.644);
  position: fixed;
  bottom: 0;
}

body {
  color: $oscuro;
  text-align: justify;
  line-height: normal;
  padding: 7.35%;
  background-image: url("../img/Green.jpg");
  background-position: center;
  background-size: auto;

  h1 {
    color: rgb(146, 21, 21);
    text-align: center;
    line-height: 100px;
  }
  h2 {
    color: $oscuro;
    text-align: center;
    line-height: initial;
  }
  h3 {
    color: $oscuro;
    text-align: justify;
  }
}
.row > div {
  padding: 20px;
  background-color: rgba(243, 174, 228, 0.61);
  border: 2px solid rgba(255, 255, 255, 0.445);
}

div > h4 {
  text-align: center;
}
#tocfl,
td,
#tocfltr > th {
  border: 3px solid rgb(255, 255, 255);
  background-color: rgba(248, 166, 166, 0.425);
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  margin: auto;
}
#tocfl-txt {
  text-align: justify;
}
#container {
  display: flex;
  flex-wrap: wrap;
}
#container > div {
  background-color: lightcyan;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  width: 200px;
}
#equis {
  color: $oscuro;
  line-height: normal;
}
#TITULO2 {
  color: $oscuro;
  line-height: normal;
}

li {
  font-size: x-large;
  font-weight: 600;
  line-height: normal;
}
a{
  color: $oscuro;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}
