<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">   
    <link rel="stylesheet" href="../estilos/estilo.css">
    <title>Inicio</title>
    
</head>
<body>
    <div class="transp"></div>
    <div class="container">
        <img class="rounded mx-auto d-block" src="../img/Huayu-LOGO.png" alt="Banner" width="500">
  
        <h1>Estudiar chino en Nicaragua</h1>
  
        <nav class="navbar navbar-expand-sm bg-light justify-content-center">
  
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./Instituciones.html">Dónde estudiar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./TOCFL.html">TOCFL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./Becas.html">Becas</a>
            </li>
          </ul>
      
        </nav>
        <img class="rounded mx-auto d-block" src="../img/Avion.png" alt="Avión" width="200">
        <h1>Estudiar chino en China Taiwán y  <strong>gratis</strong> es posible</h1>

        <h2>Beca Huayu</h2>
        <h5>Duración: 6 meses o 1 año</h5>
        <h4>Procedimiento de la aplicación</h4>
        <h5>PASO 1: Solicitar admisión al Centro de Aprendizaje de Chino Mandarín.  
        </h5>
        <h5>PASO 2: Llenar formato de solicitud de beca y entregar en la Embajada de la República de China (Taiwán) antes de la 
            fecha de cierre junto a los siguientes documentos: 
        </h5>
        <ol>
          <li>
            <h5>
               Copia de Pasaporte y/o Cédula de identidad.
            </h5>
          </li>
          <li>
            <h5>
               Copia de Diploma y Certificado de notas de 1ro a 5to año del bachillerato o de educación superior con promedio igual 
               o mayor a 85% copia debidamente legalizados por las autoridades correspondientes: MINED/CNU y MINREX.
            </h5>
          </li>
          <li>
             <h5>
               Certificado de competencia del idioma inglés. Deseable TOEFL, TOEIC, etc.
             </h5>
          </li>
          <li>
             <h5>
               Dos cartas de recomendación en español e inglés.
             </h5>
          </li>
          <li>
            <h5>
              Autobiografía en español e inglés.
            </h5>
          </li>
          <li>
            <h5>
              Presentar carta de admisión del Centro de Aprendizaje de Chino Mandarín.
            </h5>
          </li>
        </ol>
        <h5>
          Deseable: Certificado de prueba de examen TOCFL o de estudio de chino mandarín y fotocopias de honores y diplomas 
            obtenidos durante su trayectoria de estudios.
        </h5>
        <h5>
          Adicional a los documentos antes mencionados, el postulante deberá cumplir con todos los requisitos que le solicite 
            la Universidad o el Centro de Aprendizaje de Chino Mandarín para garantizar la admisión.
        </h5>
        <h4>Beneficios</h4>
        <h5>- Boleto aéreo de ida y vuelta</h5>
        <h5>- Pensión mensual aproximada de US$850.00 (NTD 25,000.00).</h5>
        <h4>Restricciones</h4>
        <h5>- No aplicable para personas con pasaporte o de nacionalidad taiwanesa, ni que sus padres lo sean.</h5>
        <h5>- No haber sido expulsado con anterioridad por Instituciones Académicas de Taiwán, ni que se le haya cancelado beca ofrecida por el Gobierno de la República de China (Taiwán).</h5>
        <h5>- No estar siendo beneficiado con otra beca ofrecida por Instituciones Gubernamentales de Taiwán y si fue favorecido anteriormente por el Programa de Becas de Taiwán, al finalizar el estudio debe esperar 1 año para volver a aplicar.</h5>
        <h3>Para más información:</h3>
        <ol>
          <li>            
            <a href="https://www.taiwanembassy.org/ni_es/cat/10.html"><strong>Formato de aplicación</strong> </a>
          </li>
          <li>            
            <a href="https://www.mofa.gov.tw/en/cp.aspx?n=A5C28AD214C3FD7C"><strong>Información relevante de la beca</strong></a>
          </li>
          <li>
            <a href="http://www.studyintaiwan.org/chinese"><strong>Lista de centros de aprendizaje de chino en Taiwán</strong></a> 
          </li>
          <li>
            <a href="http://www.studyintaiwan.org/university"><strong>Lista de Universidades</strong></a>
          </li>
          <li>            
            <a href=" https://www.immigration.gov.tw/np.asp?ctNode=36879&mp=2"><strong>Vida en Taiwán</strong></a>
          </li>
          <li>
            <strong>Preguntas al correo:</strong> tw.nica.becas@gmail.com.
          </li>
        </ol>


    </div>
</body>
</html>
