<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../estilos/estilo.css">
    <title>Instituciones</title>
</head>
<body>
    <div class="transp"></div>
    <div class="container">
      <img class="rounded mx-auto d-block" src="../img/Huayu-LOGO.png" alt="Banner" width="500">
  
      <h1>Estudiar chino en Nicaragua</h1>

      <nav class="navbar navbar-expand-sm bg-light justify-content-center">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./Instituciones.html">Dónde estudiar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./TOCFL.html">TOCFL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./Becas.html">Becas</a>
          </li>
        </ul>
    
      </nav>
                
      <h4 id="tocfl-txt" > &nbsp; <img class="rounded mx-auto d-block" src="../img/bandera de taiwan y nic.jpg" alt="Banderas" width="200"> 
      La embajada de Taiwán en Nicaragua en cooperación con instituciones públicas, ofrece cursos para la enseñanza 
      del idioma chino y la cultura taiwanesa. Las profesoras que imparten el idioma son nativas y altamente cualificadas 
      para la enseñanza del idioma.
      </h4>
      <h4 id="tocfl-txt">
      Esta iniciativa forma parte de los programas y proyectos que impulsa el Fondo de Cooperación y Desarrollo Internacional 
      de la República de China Taiwán (ICDF) en Nicaragua con el objetivo promover el aprendizaje de la lengua y la cultura 
      china en nuestro país.
      </h4>
      
      
      <h2 id="TITULO2">Instituciones que enseñan chino mandarín en colaboración con Taiwán <img src="../img/flor roja.png" alt="flor roja" width="50"></h2>      
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <img class="mx-auto d-block" width="200px" src="../img/uniies.png" alt="UNI"><h2 id="equis">Universidad Nacional de Ingeniería</h2>
                <h4 id="equis">Instituto de Estudios Superiores</h4>
            </div>
            <div class="col-lg-8 col-sm-12">
                <h5>
                  El curso de chino mandarín en la UNI es abierto al público, no es necesario ser estudiante o 
                  trabajador, sin embargo es por ciclos, cada vez que comienza el curso se abren dos grupos (uno por la
                  mañana y otro por la tarde), la frecuencia del curso es de dos días por semana, hasta que el curso 
                  termina se abren nuevas convocatorias. El costo es de US $5 por nivel, cada nivel tiene una duración 
                  de dos meses. Inicialmente se paga una matrícula única de $5. El horario está sujeto a la disponibilidad 
                  de la profesora.
                </h5>
                <h4>Contacto: Lic. Arlen Mercado</h4>
                <h4>Responsable de Bienestar Estudiantil</h4>
                <h4>Correo: becas@ies.uni.edu.ni</h4>
                <h4>Tel.(505)2270 0973 Ext.121 </h4>
            </div> 
        </div>
        <img class="rounded mx-auto d-block" src="../img/flor de loto.png" alt="Meinhua" width="50">
        <div class="row">             
            <div class="col-lg-4 col-sm-12">
                <img class="mx-auto d-block" width="100px" src="../img/logo unan.png" alt="UNAN"><h2 id="equis">Universidad Nacional</h2> 
                <h2 id="equis">Autónoma de Nicaragua</h2>
            </div>
            <div class="col-lg-8 col-sm-12">
                <h5>El curso está abierto al público general. Se efectúa una selección por méritos académicos de 
                    candidatos, en la Dirección de Relaciones Públicas. Por consiguiente es requerido llevar a la 
                    entrevista su historial de calificaciones. Posterior se procederá a una preselección de 30 
                    alumnos para seleccionar 25.  
                </h5>
                <h5>
                    Los cursos se imparten en el Recinto Universitario Ricardo Morales Avilés (RURMA), por la 
                    profesora Yu-shan Chiang. Los horarios de estudios son lunes y miércoles de 9:00 a.m. a 11:00 a.m. 
                    y de 2:00 p.m. a 4:00 p.m., el curso tiene un costo de C$650, para el público y C$300 para estudiantes 
                    y trabajadores de la UNAN.
                </h5>
                <h4>Contacto: MSc. Frak Llanes Gutiérrez</h4>
                <h4>Coordinador de Internacionalización </h4>
                <h4>Correo: frank.llanes@gmail.com</h4>
                <h4>Tel. (505) 2270 0042</h4>
            </div> 
          </div> 
          <img class="rounded mx-auto d-block" src="../img/flor de loto.png" alt="Meinhua" width="50">
          <div class="row"> 
            <div class="col-lg-4 col-sm-12">
                 <img class="mx-auto d-block" width="120px" src="../img/logo una.png" alt="UNA"><h2 id="equis">Universidad Nacional Agraria</h2>
            </div>
            <div class="col-lg-8 col-sm-12">
                <h5>No se cobra ningún monto económico para participar, ya que es parte del plan institucional de
                    internalización de la UNA, el interesado debe ser estudiante activo de la UNA, trabajador administrativo o 
                    docente de la UNA.
                </h5>
                <h4>Contacto: Lic. Giselle Portocarrero</h4>
                <h4>Encargada de evaluación y seguimiento</h4>
                <h4>Dirección de Cooperación externa</h4>
                <h4>Tel.(505)2233 1501 Ext.5082</h4>
              </div>  
          </div>
          <img class="rounded mx-auto d-block" src="../img/flor de loto.png" alt="Meinhua" width="50">
          <div class="row"> 
            <div class="col-lg-4 col-sm-12">
              <img class="mx-auto d-block" width="180px" src="../img/inatec.png" alt="INATEC"><h2 id="equis">Centro Tecnológico de Idiomas</h2> 
            </div>
            <div class="col-lg-8 col-sm-12">
                <h5>
                      El curso es totalmente gratuito, se divide en tres cursos según el estándar europeo donde el primer nivel es el Novice, el segundo nivel es el A1, y el tercer nivel es el A2. Las convocatorias se abren dos veces por año, la primera se abre en febrero y la segunda a mitad de año. Los requisitos son fotocopia de diploma, ya sea colegio o universidad (para los alumnos que aun cursan secundaria deben llevar su certificado de notas), cédula o partida de nacimiento y dos fotos tamaño pasaporte. El material el curso tambien es gratuito. El INATEC se ofrece cursos de chino mandarín semanales y sabatinos.                     
                </h5>
                <h5>Para mayor información acerca de cuándo abren, estar atentos al <a href="https://www.facebook.com/centrodeidiomasmanagua/">facebook</a> y a la página del <a href="https://www.tecnacional.edu.ni/centro/centro-tecnologico-idiomas/acerca">INATEC</a>. </h5>
                <h4>Dirección: Centro Cívico Zumen, frente al Hospital Bertha Calderón, Managua.</h4>
                <h4>Teléfonos: Planta Central 2253-8830</h4>
                <h4>Atención al Protagonista 2253-8888</h4>
            </div>
        </div>
    </div>
  </body>
</html>